@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 240 35% 8%;
    --background-lighter: 237 28% 13%;
    --foreground: 240 10% 98%;

    --card: 237 28% 13%;
    --card-foreground: 240 10% 98%;

    --popover: 237 28% 13%;
    --popover-foreground: 240 10% 98%;

    --primary: 162 73% 46%;
    --primary-foreground: 240 10% 98%;
    
    --primary-purple: 251 60% 66%;
    
    --secondary: 237 28% 20%;
    --secondary-foreground: 240 10% 98%;

    --muted: 237 28% 20%;
    --muted-foreground: 240 5% 65%;

    --accent: 162 73% 46%;
    --accent-foreground: 240 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 10% 98%;

    --border: 237 28% 20%;
    --input: 237 28% 20%;
    --ring: 162 73% 46%;

    --radius: 1rem;

    --sidebar-background: 237 28% 13%;
    --sidebar-foreground: 240 10% 98%;
    --sidebar-primary: 162 73% 46%;
    --sidebar-primary-foreground: 240 10% 98%;
    --sidebar-accent: 237 28% 20%;
    --sidebar-accent-foreground: 240 10% 98%;
    --sidebar-border: 237 28% 20%;
    --sidebar-ring: 162 73% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
